Package: com.chr1s.totallynotajoke
Name: Totally Not A Joke
Version: 1.0.0
Architecture: iphoneos-arm
Description: Definitely not a prank..
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
